<% include header %>
    <div class="container" style="position:relative;min-height: 100%;height: 100%;">
			<!--- Start -->
			<div id="start" class="page text-center" style="position:absolute; top:40%; width:100%;height:10em; margin-top:-5em">
				<p class="lead" data-localize="start-message">Cannot link to mySmartGrid. Do you want to configure your device?</p>
				<button id="start-button" class="btn btn-success" data-localize="start-button">Start configuration</button>
			</div>
            <!--- Connection -->
			<div id="connection"  class="page text-center" style="position:absolute; top:40%; width:100%;height:10em; margin-top:-5em; display:none">
				<p class="lead" data-localize="connection-message1">Welcome.</p>
				<p class="lead" data-localize="connection-message2">We now try to create a network configuration that is suitable to your configuration.</p>
				<p class="lead" data-localize="connection-message3">We also check whether mysmartgrid.de is reachable.</p>
				<div id="connection-loading">
					<p class="lead"><img src="img/Loading.gif"/> Checking connection</p>
				</div>
				<div id="connected" style="display:none">
					<p class="lead">✔ Success</p>
					<p class="lead">You can now activate your device</p>
					<button id="start-activation" class="btn btn-success">Activate device</button>
				</div>
				<div id="disconnected" style="display:none">
					<p class="lead">No connection</p>
				</div>
			</div>
            <!--- Connection -->
            <!--- Activation pane -->
			<div id="activation"  class="page text-center" style="position:absolute; top:40%; width:100%;height:10em; margin-top:-5em; display:none">
				<p class="lead" data-localize="activation-message1">We now need to link this device with your account on mySmartGrid.</p>
				<p class="lead" data-localize="activation-message2">If you don't have an account yet, please create one first:</p>
				<a href="https://www.mysmartgrid.de/user/register" class="btn" target="_blank">Create mSG Account</a>
			  <div id="activation-loading" class="page" style="display:none">
			  Loading activation code
			  </div>
                <div id="activation-block" class="page" style="display:none">
					<br />
					<p class="lead" data-localize="activation-message3">Then, please enter the code</p>
					<p class="lead" id="activation-code"></p>
					<p class="lead" data-localize="activation-message4">on the mySmartGrid page to link the device to your account.</p>
					<a id="link-account" href="https://www.mysmartgrid.de/device/mylist" target="_blank" class="btn btn-success">Link account</a>
					<button id="finish-wizard" class="btn btn-success" style="display:none">Continue</button>
                </div>
			</div>
            <!--- Activation pane -->
            <!--- Success pane -->
			<div id="success" class="page text-center" style="position:absolute; top:40%; width:100%;height:10em; margin-top:-5em; display:none">
				<h3 style="text-decoration: underline">Success</h3>
				<p class="lead" data-localize="success-message1">Your device is now connected to mySmartGrid.</p>
				<p class="lead" data-localize="success-message2">Next step: Please link your Hexabus devices with the base station.</p>
				<a id="link-devices" href="config#network" class="btn btn-success">Link devices</a>
            </div>
            <!--- Success pane -->
</div> 
<% include footer %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://<%=server%>:<%=port%>');
  socket.on('connection_update', function(data) {
	var is_connected = data['is_connected'];
	if(is_connected) {
		// hide loading and disconnected
		$('#connection-loading,#disconnected').hide();
		// show connected
		$('#connected').show();
	} else {
		// hide loading and connected
		$('#connection-loading,#connected').hide();
		// show disconnected
		$('#disconnected').show();
	}
	});
  socket.on('activation_update', function(data) {
	var activation = data['activation'];
	$('#activation-code').text(activation);
	// hide loading
	$('#activation-loading').hide();
	// show activation code
	$('#activation-block').show();
	});

  socket.on('device_update', function(data) {
	var devices = data['devicelist']['devices'];
	console.log(devices)
	var list = $('.devicelist');
	for(var device in devices) {
		list.append('<div class="input-append"><input class="devicename" value="'+devices[device]['name']+' " type="text" disabled></input><button class="btn edit devices">Edit</button></div><ul><li class="deviceip">'+devices[device]['ip']+'</li></ul>');
		var eids = devices[device]['eids'].join(", ");
			var j = parseInt(device)
			$(list.find(".deviceip")[j]).append('<li>'+eids+'</li>');
	}
	$('.edit.devices').on('click', function() {
		$(this).prev().prop('disabled', false);
		$('#devices-submit').show();
	});
	$('.page').hide();
	if(devices!==undefined) {
		$('#devices-block').show();
	} else {
		$('#nodevices-block').show();
	}
});
  window.onload = function() {
	//socket.emit('check_connection');
	//socket.emit('get_activation');
	//socket.emit('get_devices');
}

	$('#start-button').on('click', function() {
		$('.page').not('#connection').hide();
		$('#connection').show();
		socket.emit('check_connection');
	});
	$('#start-activation').on('click', function() {
		$('.page').not('#activation').hide();
		$('#activation').show();
		socket.emit('get_activation');
	});
	$('#link-account').on('click', function() {
		$('#link-account').removeClass('btn-success');
		$('#finish-wizard').show();
	});
	$('#finish-wizard').on('click', function() {
		$('.page').not('#success').hide();
		$('#success').show();
	});
$('.submit.devices').on('click', function() {
	var devicenames = $('.devicename');
	var deviceips = $('.deviceip');
	var devices = {};
	for(var i=0;i<devicenames.length;i++) {
		if($(devicenames[i]).is(':enabled')) {
			devices[$(deviceips[i]).text()] = devicenames[i].value;
		}
	}
	if(!$.isEmptyObject(devices)){
		socket.emit('submit_devices', devices);
	}
});
</script>
